body {
    background-image: url(/images/sliders-bldgs.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.viewer {
    margin-top: 5%;
    height: 80%;
    overflow: scroll;
}

.signin {
    margin: 2%;
    padding: 5%;
}

.infobox {
    -webkit-box-shadow: 10px 10px 24px -12px rgba(128,119,128,1);
    -moz-box-shadow: 10px 10px 24px -12px rgba(128,119,128,1);
    box-shadow: 10px 10px 24px -12px rgba(128,119,128,1);
    padding: 2%;
    margin: 2%;
    
}