<div class="container" id="propertyinfo" ng-controller="DashboardCtrl">
        <div class="row">
          <div ng-click="getToViewProperties()">
            <div class="col s12 m4">
              <div class="card blue darken-4">
                <div class="card-content white-text">
                  <span class="card-title">View Property List</span>
                </div>
              </div>
            </div>
          </div>
          <div ng-click="getToReports()">
            <div class="col s12 m4">
              <div class="card blue darken-4">
                <div class="card-content white-text">
                  <span class="card-title">Emergency Reports</span>
                </div>
              </div>
            </div>
          </div>
          <div ng-click="getToVendors()">
            <div class="col s12 m4">
              <div class="card blue darken-4">
                <div class="card-content white-text">
                  <span class="card-title">Vendor Information</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    