<div class="container-fluid" id="dashboard">
        <div>
            <div class="col-md-12">
                <div class="col-md-6" ng-click="getToPropertyInfo()">
                    <div class="thumbnail">
                        <img alt="Bootstrap Thumbnail First" src="images/house.png" />
                        <div class="caption text-center">
                            <h4>Property Info</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-click="getToReports()">
                    <div class="thumbnail">
                        <img alt="Bootstrap Thumbnail Second" src="/images/reports.png" />
                        <div class="caption text-center">
                            <h4>Reports</h4>
                        </div>
                    </div>
                </div>

        </div>
    </div>