<div class="container" id="propertyinfo" ng-controller="DashboardCtrl">
  <h2>Quick Launcher</h2>
        <div class="row">
            <div ng-click="getToSearch()">
            <div class="col s12 m3">
              <div class="card blue darken-2">
                <div class="card-content white-text">
                  <span class="card-title">Search Property Info</span>
                </div>
              </div>
            </div>
          </div>
          <div ng-click="getToViewProperties()">
            <div class="col s12 m3">
              <div class="card blue darken-2">
                <div class="card-content white-text">
                  <span class="card-title">View Property List</span>
                </div>
              </div>
            </div>
          </div>
          <div ng-click="getToReports()">
            <div class="col s12 m3">
              <div class="card blue darken-2">
                <div class="card-content white-text">
                  <span class="card-title">Emergency Reports</span>
                </div>
              </div>
            </div>
          </div>
          <div ng-click="getToVendors()">
            <div class="col s12 m3">
              <div class="card blue darken-2">
                <div class="card-content white-text">
                  <span class="card-title">Vendor Information</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    