 <nav>
    <div class="nav-wrapper blue darken-2">
      <a href="#!" class="brand-logo">MPM SearchBinder</a>
      <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="false">=</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!/propertyinfo">Properties</a></li>
        <li><a href="#!/reports">Reports</a></li>
        <li><a href="#!/vendors">Vendor Phonebook</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="#!/propertyinfo">Properties</a></li>
          <li><a href="#!/reports">Reports</a></li>
          <li><a href="#!/vendors">Vendor Phonebook</a></li>
      </ul>
    </div>
  </nav> 
