<div id="propertyinfo" ng-contoller="PropertyDetailCtrl">
    <div="row">
        <h3>Property Info for {{property.propertyName}}</h3>
            <div class="col s6 card blue darken-4 infobox">
            <h3>General Info</h3>
                    <ul>
                        <li>Manager: {{property.propertyManager}}</li>
                        <li>Tax ID: {{property.taxIDnumber}}</li>
                        <li>Property Address: {{property.address}} </li>
                        <li>City: {{property.city}}</li>
                        <li>Property Type: {{property.propertyType}}</li>
                        <li>Number of Buildings: {{property.numberOfBuildings}}</li>
                        <li>Number of Units: {{property.numberOfUnits}}</li>
                        <li>Fire Alarm Password: {{property.fireAlarmPassword}}</li>
                        <li>Gate Access Code: {{property.gateAccess}}</li>
                        <li>On Site Contact: {{property.onSiteContact}}</li>
                        <li>Water Shut Off Location: {{property.waterShutOff}}</li>
                    </ul>
            </div>
        <div class="row card blue darken-4 infobox">
            <h3>Vendor Info</h3>
            <div class="col s6">
                <h4>Fire Alarm</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                <h4>Insurance</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                <h4>Elevator</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                <h4>Plumbing</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                <h4>Electrical</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                </div>
                <div class="col s6">
                <h4>Gate</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                <h4>Towing</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                <h4>Emergency Remediation</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                <h4>Electric Utility Company</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                <h4>Water Utility Company</h4>
                <ul>
                    <li>Name: {{vendor.vendorName}}</li>
                    <li>Phone Number: {{vendor.phoneNumber}}</li>
                    <li>Contact Name: {{vendor.contactName}}</li>
                </ul>
                </div>
            </div>
    </div>
</div> 

