<div class="container" id="propertyinfo" ng-controller="PropertyInfoCtrl">
    <div class="row">
        <div ng-click="getToSearch()">
        <div class="col s12 m3">
          <div class="card blue darken-2">
            <div class="card-content white-text">
              <span class="card-title">Search Properties</span>
            </div>
          </div>
        </div>
      </div>
      <div ng-click="getToViewProperties()">
        <div class="col s12 m3">
          <div class="card blue darken-2">
            <div class="card-content white-text">
              <span class="card-title">View Properties</span>
            </div>
          </div>
        </div>
      </div>
      <div ng-click="getToAddNewProperty()">
        <div class="col s12 m3">
          <div class="card blue darken-2">
            <div class="card-content white-text">
              <span class="card-title">Add New Property</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
