<div class="container" id="propertyinfo" ng-contoller="PropertyDetailCtrl">
    <h3>{{property.propertyName}}</h3>
    <ul>
        <li>Manager: {{property.propertyManager}}</li>
        <li>Tax ID: {{property.taxIDnumber}}</li>
        <li>Property Address: {{property.address}} </li>
        <li>City: {{property.city}}</li>
        <li>Property Type: {{property.propertyType}}</li>
        <li>Number of Buildings: {{property.numberOfBuildings}}</li>
        <li>Number of Units: {{property.numberOfUnits}}</li>
        <li>Fire Alarm Password: {{property.fireAlarmPassword}}</li>
    </ul>
    
       
     

    <!-- <div>
        <div class="col-md-12">
            <div class="col-md-6" ng-click="getToGeneral()">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail First" src="images/general.png" />
                    <div class="caption text-center">
                        <h4>General</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-click="getToAccess()">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Second" src="/images/access.png" />
                    <div class="caption text-center">
                        <h4>Access</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-click="getToVendors()">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Third" src="images/vendor.png" />
                    <div class="caption text-center">
                        <h4>Vendors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-click="getToAdditionalNotes()">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Fourth" src="images/additional.png" />
                    <div class="caption text-center">
                        <h4>Additional Notes</h4>
                    </div>
                </div>
            </div>
    </div> -->
</div>