<div class="container-fluid" id="propertyinfo" ng-contoller="PropertyDetailCtrl">
    <div>
        <div class="col-md-12">
            <div class="col-md-6" ng-click="getToGeneral()">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail First" src="images/general.png" />
                    <div class="caption text-center">
                        <h4>General</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-click="getToAccess()">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Second" src="/images/access.png" />
                    <div class="caption text-center">
                        <h4>Access</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-click="getToVendors()">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Third" src="images/vendor.png" />
                    <div class="caption text-center">
                        <h4>Vendors</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-click="getToAdditionalNotes()">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Fourth" src="images/additional.png" />
                    <div class="caption text-center">
                        <h4>Additional Notes</h4>
                    </div>
                </div>
            </div>
    </div>
</div>
