<div class="container" ng-controller="ViewPropertiesCtrl">
    <h2>Property List</h2>
        <div>
            <i class="fa fa-search"></i><input type="text" placeholder="Search..." ng-model="searchText">
        </div>
    <div class="row">
        <div ng-repeat="property in properties | filter: searchText | orderBy: 'propertyName'">
            <div class="propertylist" ng-click="viewPropertyDetail(property.id)">
                <td>{{property.propertyName}}</td>
            </div>
        </div>
    </div>
</div>



